__pycache__/
build/
*.egg-info/
*.so
venv_*/
.vs/
.vscode/
.idea/

tmp_*
data?
data??
scripts2

model_cache

logs/*ply
logs/*pth
videos
images
*.mp4

vis_data*/
data*/


*.sh

diff-gaussian-rasterization/
